@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');

* {
    margin:0;
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
}

body {
    background-color: #242323;
}

header {
    width: 100%;
    height: 70px;
    background-color: #eef115;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.fa-clipboard-list {
    font-size: 45px;
    color: #242323;
    height: 70px;
    line-height: 70px;

}

nav {
    position: relative;
}

ul {
    position: absolute;
}

ul,li {
    display: inline-block;
    margin-left: 15px;
    height: 70px;
    line-height: 70px;
    right: 0;
}

li a {
    color: #242323;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}


li a:hover {
    color: #5a5959;
}


.container {
    display: flex;
    flex-direction: column;
}

.table {
    text-align: center;
    border: 3px solid #eef115;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

th {
    padding: 10px;
    border-bottom: 2px solid #c3f1e425;
}

td {
    border-bottom: 1px solid #c3f1e425;
}

#empty-text {
    text-align: center;
}

.contact {
    width: 500px;
    margin: 0 auto;
    font-size: 22px;
}

#main-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}

.subtitle {
    font-weight: bold;
    margin: 15px 0 15px 0;
}

#backBtn {
    margin-top: 15px;
}

#backBtn a {
    font-size: 16px;
    text-decoration: none;
    color: #eef115;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}

#backBtn a:hover {
    color: #242323;
    background-color: #eef115;
}

#container-create,
#container-edit {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

.create input, .edit input {
   width: 475px;
   background-color: transparent;
   border: 2px solid #242323 ;
   border-radius: 10px;
   padding: 10px;
   color: #242323;
   outline-style: none;
   font-size: 15px;
}

textarea {
    width: 475px;
    background-color: transparent;
    border: 2px solid #242323 ;
    border-radius: 10px;
    padding: 10px;
    color: #242323;
    outline-style: none;
    font-size: 15px;
    resize: none;
}

.create label, .edit label {
    color: #242323;
    font-size: 20px;
}

.upp{
    text-transform: uppercase;
}

.btn {
    font-size: 16px;
    text-decoration: none;
    color: #eef115;
    background-color: #242323;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 8px; 
    float: left;
}

p#msg {
    text-align: center;
    background-color: #000;
    font-size: 20px;
    padding: 15px;
}

@media(max-width: 480px) {
    #home-link {
        display: none;
    }

    ul, li {
        height: auto;
    }
}